@model IEnumerable<CadastroProdutos.Models.Produto>


@{
    ViewData["Title"] = "Index";
}


<div id="Conteudo">
    <div> <p id="Header">Produtos cadastrados<p>
        <a asp-action="CriarProduto" style="position: absolute; top: 0px; right: 0px;" 
        id="BotaoVerde" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Cadastrar</a>
        <hr />
    </div>
    <table class="table">
        <thead>        
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Situação
                </th>            
            </tr>
        </thead>
        <tbody>
        @foreach (Produto item in Model) 
        {
                <tr>
                    <td>
                        @item.ProdutoId
                    </td>
                    <td>
                        @item.Descricao
                    </td>            
                    
                    @if (item.DefSituacaoProduto.DescricaoSituacao == "ativo")
                    {
                        <td id="ativo">
                            @Html.DisplayFor(Model => item.DefSituacaoProduto.DescricaoSituacao)
                        </td>
                    }
                    @if (item.DefSituacaoProduto.DescricaoSituacao == "inativo")
                    {
                        <td id="inativo">
                            @Html.DisplayFor(Model => item.DefSituacaoProduto.DescricaoSituacao)
                        </td>
                    }
                    @if (item.DefSituacaoProduto.DescricaoSituacao == "bloqueado")
                    {
                        <td id="bloqueado">
                            @Html.DisplayFor(Model => item.DefSituacaoProduto.DescricaoSituacao)
                        </td>
                    }
                    
                    <td>                        
                        <a asp-action="AtualizarProduto" asp-route-id="@item.ProdutoId"><i class="fa-solid fa-pencil" id="Icones"></i></a>
                        <a asp-action="DetalhesProduto" asp-route-id="@item.ProdutoId"><i class="fa-solid fa-eye" id="Icones"></i></a>                                                                    
                        <a asp-action="ExcluirProduto" asp-route-id="@item.ProdutoId"><i class="fa-solid fa-trash-can" id="Icones"></i></a>
                    </td>
                </tr>
                
        }
        </tbody>
    </table>
</div>
